@import "app/scss/abstracts/_variables.scss";
$header-color: #3c475b;
$header-fontWeight: 700;

.advance-filter {
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  z-index: 50;
  background-color: rgb(255, 255, 255);
  &__header {
    padding: 24px 24px 36px;
    opacity: 1;
    width: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    animation: 500ms ease 0s 1 normal forwards running slide-up-fade-in;
    background: rgb(242, 245, 247);
    .header-close {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      max-width: 884px;
      margin: 0px auto;
      padding-bottom: 1rem;

      .close-icon {
        font-size: 2rem;
        cursor: pointer;
      }
    }
    .search-tab {
      max-width: 884px;
      margin: 0px auto;
    }
  }
  &__body {
    z-index: -1;
    opacity: 0;
    width: 100%;
    padding: 24px 24px 90px;
    animation: 700ms ease 0s 1 normal forwards running slide-up-fade-in;
    background: rgb(250, 251, 252);
  }
  &-form {
    .dynamic-search-filters {
      width: 100%;
      //background: #fff;
      max-width: 660px;
      margin: 0px auto;
      .form-row {
        margin: 0 18px 18px;
        padding-bottom: 18px;
        border-bottom: 1px solid #d0d3d9;
        &__header {
          display: flex;
          align-items: center;
          min-width: 100px;
          padding-right: 1rem;
          .header-text {
            color: $header-color;
            font-weight: $header-fontWeight;
            flex-grow: 1;
            //margin-bottom: 4px;
            padding: 8px 0;
          }
          .clear-all {
            color: $color-primary;
            cursor: pointer;
            padding: 8px 0;
            //margin-bottom: 18px;
            margin-left: 1rem;
          }
        }
        &__body {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: center;
          .property-type {
            margin-right: 6px;
            display: flex;
            color: rgb(60, 71, 91);
            text-align: center;
            font-size: 14px;
            line-height: 18px;
            padding: 9px 12px;
            border-width: 1px;
            border-style: solid;
            border-color: rgb(208, 211, 217);
            border-image: initial;
            border-radius: 3px;
          }
          .fromLandSize,
          .toLandSize {
            position: relative;
            input {
              padding: 0.5rem;
              border: 2px solid #e8e7e7;
              border-radius: 3px;
              width: 150px;
              height: 40px;
              &:focus {
                border: 2px solid $color-primary;
              }
            }
            .land-msquared {
              display: block;
              position: absolute;
              top: 2px;
              right: 2px;
              bottom: 2px;
              width: 35px;
              border-left: 1px solid #e6e9ed;
              border-top-right-radius: 2px;
              border-bottom-right-radius: 2px;
              background: #f2f5f7;
              color: #a9afba;
              line-height: 39px;
              text-align: center;
              .land-square {
                position: relative;
                top: -0.5em;
                font-size: 10px;
                line-height: 0;
                vertical-align: baseline;
              }
            }
          }
        }
        .checked {
          background-color: rgb(243, 250, 242);
          color: $color-primary;
          border-width: 1px;
          border-style: solid;
          border-color: $color-primary;
          border-image: initial;
        }
      }
      .more-filter,
      .less-filter {
        padding: 20px 0;
        margin: 0 20px;
        cursor: pointer;
        span {
          color: $color-primary;
        }
        .drop-icon {
          margin-left: 0.3rem;
        }
        &:hover,
        &:active,
        &:focus {
          span {
            color: $color-primary;
            text-decoration: underline;
          }
        }
      }
      .more-filter-items {
        animation: 500ms ease 0s 1 normal forwards running slide-up-fade-in;
      }
    }
  }
  &__footer {
    position: fixed;
    display: flex;
    width: 100%;
    bottom: 0px;
    left: 0;
    opacity: 1;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 18px 0px;
    background: rgb(255, 255, 255);
    animation: 300ms ease 0s 1 normal forwards running slide-up-fade-in;
    .search-button {
      display: flex;
      align-items: center;
      width: 250px;
      justify-content: center;
      border-radius: 2px;
      height: 45px;
      max-width: 300px;
      &__text {
        font-size: 1rem;
        font-weight: 600;
      }
      &__icon {
        font-size: 1.5rem;
        font-weight: 600;
      }
    }
  }
  &__search-tabs {
    padding: 0 !important;
    border: none !important;
    box-shadow: none !important;
    background: transparent !important;
    .tabs {
      background: transparent !important;
    }
    .tabs-content {
      background: #fff;
    }
  }
}
