.home {
  .home-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    padding: 0 10vw;
    &__header {
      color: #fff;
      h1 {
        letter-spacing: 1.1px;
        font-weight: 500;
      }
    }
    &__body {
      margin-top: 37px;
      width: 100%;
      .search-tab {
        margin-top: 0;
        margin-bottom: 40px;
        padding: 36px 60px;
        border-radius: 3px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        background-color: #fff;
        box-shadow: 0 1px 3px 0 rgba(7, 25, 57, 0.1),
          0 1px 2px 0 rgba(7, 25, 57, 0.2);
        .tabs {
          box-shadow: none;
          &-list {
            border: none;
            background: none;
            &__item {
              font-weight: 600;
              font-size: 1rem;
              color: #3c475b;
              border-radius: 3px 3px 0 0;
              padding: 15px 22px;
            }
            .tab-active {
              color: #fff;
            }
          }
          &-content {
            padding: 0;
          }
        }
      }
    }
  }
}
