@keyframes slide-down {
  0% {
    transform: translate3d(0, -200%, 0);
  }
  100% {
    transform: translateZ(0);
  }
}

@keyframes slide-up {
  0% {
    transform: translateZ(0);
  }
  100% {
    transform: translate3d(0, -200%, 0);
  }
}

@keyframes fade-in {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.5);
    opacity: 0;
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-8px);
  }
}

@keyframes leaf-right {
  0% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(-15deg);
  }
}

@keyframes zoom-in {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.4);
  }
}

@keyframes leaf-left {
  0% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(15deg);
  }
}

@keyframes leaf {
  0% {
    transform: rotateX(-45deg);
  }
  100% {
    transform: rotateX(45deg);
  }
}

@keyframes hand {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

// transform: translate3d(0, -120%, 0);
// background: #F4F5F8;
// overflow: hidden;

// flex: 0 0 auto; header

// flex: 1;
// overflow: auto;
.animation-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(228, 228, 228, 0.5);
}

@keyframes fade-icon-in {
  0% {
    transform: rotate(60deg) scale(0.5);
    // opacity: 0;
  }
  100% {
    transform: rotate(0deg) scale(1);
    // opacity: 1;
  }
}

@keyframes spin-hard {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

@keyframes spins {
  0% {
    transform: rotate(0);
    //   animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spins-reverse {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  100% {
    transform: rotate(360deg);
  }
}

//slide-up-fade-in
@keyframes slide-up-fade-in {
  0% {
    opacity: 0;
    transform: translate(0px, 150px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@-moz-keyframes slide-up-fade-in {
  0% {
    opacity: 0;
    -moz-transform: translate(0px, 150px);
  }
  100% {
    opacity: 1;
    -moz-transform: translate(0px, 0px);
  }
}

@-webkit-keyframes slide-up-fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translate(0px, 150px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
  }
}

@-o-keyframes slide-up-fade-in {
  0% {
    opacity: 0;
    -o-transform: translate(0px, 150px);
  }
  100% {
    opacity: 1;
    -o-transform: translate(0px, 0px);
  }
}

@-ms-keyframes slide-up-fade-in {
  0% {
    opacity: 0;
    -ms-transform: translate(0px, 150px);
  }
  100% {
    opacity: 1;
    -ms-transform: translate(0px, 0px);
  }
}
/////////
