html {
  // font-size: 10px;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font: 100% $font-stack;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgb(250, 251, 252);
  color: #fff;
}

code {
  // font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  outline: none;
}

main {
  padding: 4rem;
}
/*# sourceMappingURL=base.css.map */

svg {
  display: block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

a {
  text-decoration: none;
}
.error {
  &__message {
    display: block;
    font-size: 12px;
    color: #{$color-red};
    font-weight: 400 !important;
    margin-left: 1rem;
  }
  .makeStyles-input-2,
  .css-yk16xz-control,
  .pickers .MuiInputBase-root,
  .form-group__input {
    border: 1px solid #{$color-red};
  }
  label {
    color: #{$color-red} !important;
  }
}
.MuiInput-underline:after,
.MuiInput-underline::before {
  border-bottom: 0 !important;
}

.css-1okebmr-indicatorSeparator {
  display: none !important;
}
.error {
  .MuiInputBase-root {
    border: 1px solid #{$color-red} !important;
    border-radius: 4px;
    .makeStyles-input-2 {
      border: none !important;
    }
  }
}

ul {
  list-style: none;
}
