.buy-block {
  max-width: 1021px;
  margin: 0 auto;
  margin-bottom: 48px;
  &__header {
    margin-bottom: 18px;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.2;
    color: #515b6e;
    padding: 0 10px;
  }
  &__block {
    width: auto !important;
    color: inherit;
    -webkit-text-decoration: inherit;
    text-decoration: inherit;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex !important;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    height: 126px;
    margin: 0 6px 3px 6px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(30, 41, 61, 0.1),
      0 1px 2px 0 rgba(30, 41, 61, 0.2);
    -webkit-transition: box-shadow ease-in 100ms;
    transition: box-shadow ease-in 100ms;
    -webkit-flex: 100%;
    -ms-flex: 100%;
    flex: 100%;
    margin: 0 12px 3px 12px;
    .inner-block {
      max-width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      height: 100%;
      width: 100%;
      padding: 18px;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      -webkit-letter-spacing: normal;
      -moz-letter-spacing: normal;
      -ms-letter-spacing: normal;
      letter-spacing: normal;
      color: #1e293d;
      &:hover {
        box-shadow: 0 1px 3px 0 rgba(95, 113, 140, 0.15),
          0 3px 6px 0 rgba(127, 137, 156, 0.15);
        //color: inherit;
        -webkit-text-decoration: inherit;
        text-decoration: inherit;
      }
      .name {
        max-width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
        margin-bottom: 6.5px;
        font-size: 16px;
        font-weight: bold;
        line-height: 24px;
        overflow: hidden;
        display: block;
      }
      &__property {
        max-width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: flex;
        align-items: center;
        margin-bottom: 11px;
        font-size: 16px;
        .home-icon {
          stroke-linejoin: round;
          stroke-linecap: round;
          fill: none;
          vertical-align: middle;
          width: 19px;
          height: 22px;
          margin-right: 6px;
        }
      }
      .link {
        color: $color-primary;
        display: block;
      }
    }
  }
  .slick-slider {
    display: flex;
    align-items: center;
    .arrow {
      align-items: center;
      justify-content: center;
      display: flex;
      width: 48px !important;
      height: 48px !important;
      background: #fff;
      color: #3c475b;
      border: 0;
      border-radius: 50%;
      box-shadow: 0 1px 3px 0 rgba(30, 41, 61, 0.1),
        0 1px 2px 0 rgba(30, 41, 61, 0.2);
      opacity: 0.9;
      position: absolute;
      z-index: 1;
      cursor: pointer;
      visibility: visible;
      opacity: 1;
      transition: all ease 1s;
      top:50%;
      &-icon {
        font-size: 1.5rem;
      }
      &:hover {
        color: $color-primary;
      }
      &::before,
      &::after {
        display: none;
      }
    }
    .arrow-left {
      left: 2px;
    }
    .arrow-right {
      right: -2px;
    }
  }
  .slick-disabled {
    visibility: hidden !important;
    opacity: 0 !important;
  }
}
