.new-development {
  max-width: 1021px;
  margin: 0 auto;
  margin-bottom: 48px;
  &__header {
    padding: 0 10px;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 18px;
    //padding: 0 18px;
    color: #515b6e;
  }
  &__block {
    padding: 0 12px;
    .inner-block {
      width: 100%;
      height: 246px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: flex-end;
      -webkit-box-align: flex-end;
      -ms-flex-align: flex-end;
      align-items: flex-end;
      position: relative;
      overflow: hidden;
      border-radius: 3px;
      -webkit-text-decoration: none;
      text-decoration: none;
      &__image {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        -webkit-transition: -webkit-transform 350ms ease;
        -webkit-transition: transform 350ms ease;
        transition: transform 350ms ease;
      }
      &__prop-count {
        font-size: 14px;
        line-height: 18px;
        display: inline-block;
        padding: 3px 10px;
        border-radius: 3px;
        background: #0b2047;
        color: #fafbfc;
        -webkit-letter-spacing: 0.5px;
        -moz-letter-spacing: 0.5px;
        -ms-letter-spacing: 0.5px;
        letter-spacing: 0.5px;
        position: absolute;
        top: 6px;
        left: 6px;
      }
      &__name-add {
        width: 100%;
        min-height: 120px;
        color: #fafbfc;
        text-align: center;
        padding: 12px;
        text-align: center;
        z-index: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: flex;
        .name {
          display: block;
          font-size: 20px;
          font-weight: bold;
          line-height: 24px;
        }
        .address {
          display: block;
          font-size: 16px;
          font-weight: normal;
        }
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0.8)
        );
      }
    }
  }
}
