$search-border: 2px #d0d3d9 solid;
$search-box-height: 86px;
.search-filter {
  display: flex;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  &__input {
    flex: 1;
    border: $search-border;
    padding: 2rem 2rem 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $search-box-height;
    position: relative;
  }
  .search-input {
    font-size: 16px;
    line-height: 24px;
    border: 0;
    font-family: Sans-Pro;
    width: 100%;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    &__selected {
      flex-wrap: wrap;
      overflow-y: auto;
      height: 50px;
      //width: 100%;
      .selected-list {
        align-items: center;
        display: inline-flex;
        -webkit-box-pack: start;
        justify-content: flex-start;
        color: rgb(60, 71, 91);
        background-color: rgb(230, 233, 237);
        border-radius: 3px;
        margin: 3px;
        &:hover {
          color: rgb(255, 255, 255);
          background-color: rgb(60, 71, 91);
          .remove-icon {
            color: rgb(255, 255, 255);
            background-color: rgb(30, 41, 61);
          }
        }
        &__text {
          text-overflow: ellipsis;
          white-space: nowrap;
          max-width: 160px;
          line-height: 30px;
          font-size: 14px;
          overflow: hidden;
          padding: 0px 6px;
        }
        .remove-icon {
          font-weight: bold;
          cursor: pointer;
          color: rgb(60, 71, 91);
          background-color: rgb(230, 233, 237);
          padding: 1px 6px 3px;
          border-width: 0px;
          border-style: initial;
          border-color: initial;
          border-image: initial;
          border-radius: 0px 3px 3px 0px;
          height: 27px;
          align-items: center;
          display: flex;
        }
      }
    }
    &__text {
      font-size: 16px;
      line-height: 24px;
      border: 0;
      font-family: Sans-Pro;
      width: 100%;
      padding-left: 5px;
      display: flex;
      align-items: center;
      flex: 1;
    }
  }
  .search-list {
    position: absolute;
    left: -2px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    scroll-behavior: smooth;
    padding: 1rem;
    background: #fff;
    /* border: 1px solid; */
    position: absolute;
    bottom: -$search-box-height;
    width: 100%;
    overflow-y: scroll;
    max-height: 100%;
    border-left: $search-border;
    border-bottom: $search-border;
    //min-height: 300px;
    z-index: 100;
    span {
      padding: 0.5rem;
      color: #3F4254;
    }
  }
  .search-button {
    padding: 8px 26px;
    border: 1px solid transparent;
    -webkit-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
    border-radius: 3px;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    -webkit-appearance: none;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    //@extend: #0ea800;
    background-color: $color-primary;
    color: #fff;
    position: relative;
    line-height: 42px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-width: 2px;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    //background-color: #0ea800;
    background-color: $color-primary;
    font-weight: 600;
    margin-left: -2px;
    max-height: $search-box-height;
    color: #fff;
    height: $search-box-height;
  }
}
